.container {
  background-color: #145b5e;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.container > a {
  text-decoration: none;
  color: orange;
}

.container > a.active {
  color: red;
}
