<form [formGroup]="form">
  <input type="text" placeholder="model" formControlName="model">
<!--  <span *ngIf="form.controls['model']['errors']">{{form.controls['model']['errors']|json}}</span>-->
  <input type="text" placeholder="price" formControlName="price">
<!--  <span *ngIf="form.controls['price']['errors']">{{form.controls['price']['errors']|json}}</span>-->
  <input type="text" placeholder="year" formControlName="year">
<!--  <span *ngIf="form.controls['year']['errors']">{{form.controls['year']['errors']|json}}</span>-->
<!--  <button [disabled]="form.invalid" (click)="onSave()">Save</button>-->
  <button (click)="onSave()">{{updateCar ? 'Save' : 'Create'}}</button>
</form>
<hr>
<app-car *ngFor="let car of cars" [car]="car" (carForUpdate)="onEdit($event)" (carIdForDelete)="onDelete($event)"></app-car>
