<form [formGroup]="form">
  <mat-form-field appearance="legacy">
    <mat-label>Model</mat-label>
    <input type="text" matInput formControlName="model">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="legacy">
    <mat-label>Price</mat-label>
    <input type="number" matInput formControlName="price">
  </mat-form-field>&nbsp;
  <mat-form-field appearance="legacy">
    <mat-label>Year</mat-label>
    <input type="number" matInput formControlName="year">
  </mat-form-field>

  <!--  <input type="text" placeholder="model" formControlName="model">-->
  <!--  <span *ngIf="form.controls['model']['errors']">{{form.controls['model']['errors']|json}}</span>-->
  <!--  <input type="text" placeholder="price" formControlName="price">-->
  <!--  <span *ngIf="form.controls['price']['errors']">{{form.controls['price']['errors']|json}}</span>-->
  <!--  <input type="text" placeholder="year" formControlName="year">-->
  <!--  <span *ngIf="form.controls['year']['errors']">{{form.controls['year']['errors']|json}}</span>-->
  <!--  <button [disabled]="form.invalid" (click)="onSave()">Save</button>-->
  &nbsp;<button mat-raised-button color="primary" (click)="saveCar()">{{updateCar ? 'Save' : 'Create'}}</button>
</form>

